<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <link rel="stylesheet" href="\static\page_templates\js\gmhpages.css">
</head>

<body>
<div class="container-one">
       <h1 class="Hh">Feedbacks</h1>
<form action="/worker_fdback_post/{{ id }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<table width="70%" border="2" class="table table-bordered c">
  <tr>
    <th scope="row">feedback</th>
    <td><label for="textarea"></label>
      <textarea name="feedback" id="textarea" cols="45" rows="5"></textarea></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" class="submit-btn" id="button" value="Submit" /></th>
    </tr>
</table>

</form>
</div>
</body>
</html>