{% extends 'admin/admin_homepage.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<link rel="stylesheet" href="/static/page_templates/js/gmhpages.css">

<body>
<div class="container-one">
    <h2 class="Hh">Add your services</h2>
<form action="/add_service_post" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<table width="70%" border="2"  class="table table-bordered c">
  <tr >
      <th width="60%" scope="row" style="font-size: larger"><div align="center"> Service name </div></th>
    <td width="50%">
      <input type="text" class="form-control" name="services" id="textfield" required /></td>

  </tr>
  <tr>
      <th colspan="2" scope="row" ><div align="center"> <input type="submit"  name="button" class="submit-btn" id="button" value="Add" /></div></th>
    </tr>
</table>

</form>
</div>
</body>
</html>
{% endblock %}