<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h1>ADMIN HOME PAGE</h1>
<form action="" method="get"><table width="70%" border="2">
  <tr>
    <th scope="row">
           <a href="/view_registered_workers">view_registered_workers</a>
    </th>

  </tr>
  <tr>
    <th scope="row">&nbsp;
        <a href="/view_approved_workers">view_approved_workers</a>
    </th>

  </tr>
  <tr>
    <th scope="row">&nbsp;
     <a href="/view_users">view_users</a>
    </th>

  </tr>
   <tr>
    <th scope="row">&nbsp;
    <a href="/view_cmplt_snd_reply">view_cmplt_snd_reply</a>
    </th>

  </tr>
    <tr>
        <th scope="row">
            <a href="/view_feedbacks">view_feedbacks</a>
        </th>
    </tr>
     <tr>
        <th scope="row">
            <a href="/add_services">add_services</a>
        </th>
    </tr>
     <tr>
        <th scope="row">
            <a href="/view_user_services">view_services</a>

        </th>
    </tr>
</table>

</form>
</body>
</html>