{% extends 'admin/admin_homepage.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <link rel="stylesheet" href="\static\page_templates\js\gmhpages.css">
</head>

<body>
<div class="container-one">
    <h1 class="Hh">Send reply</h1>
<form action="/snd_reply_post/{{ id }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<table width="70%" border="2" class="table table-bordered c">
  <tr>
      <th scope="row" width="20%"> <div align="center">reply:</div></th>
    <td>
      <textarea name="replay" id="textarea" class="form-control" cols="45" rows="5" required></textarea></td>
  </tr>
  <tr>
      <th colspan="2" scope="row"><div align="center"><input type="submit" class="submit-btn" name="button" id="button" value="send" /></div></th>
    </tr>
</table>

</form>
</div>
</body>
</html>
{% endblock %}