{% extends 'admin/admin_homepage.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <link rel="stylesheet" href="static\page_templates\js\gmhpages.css">
{#    <style type="text/css">#}
{#        .headings{#}
{#            background-color: #89ba16;#}
{#            font-weight: bold;#}
{#        }#}
{##}
{#    </style>#}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-one" style="margin-top: 80px" >
    <h2 class="Hh">Registered Users</h2>
<form action="" method="get">
    <div class="table-responsive">
    <table width="50%" border="2" style="border-color: black" class="table table-bordered c">
  <tr class="headings">
    <th width="8%" scope="row">Slno</th>
    <td width="11%">Name</td>
    <td width="11%">Address</td>
    <td width="13%">Email</td>
    <td width="11%">Phone</td>
    <td width="14%">Image</td>
  </tr>
    {% for i in data %}
  <tr>
  <th scope="row"><div align="center">{{ forloop.counter }}</div></th>
    <td>&nbsp{{ i.name }}</td>
    <td>{{ i.place }}
        {{ i.post }}
    {{ i.pin }}

        </td>
    <td>{{ i.email }}</td>
    <td>{{ i.phone }}</td>
    <td><img src="{{ i.image }}" height="120px" width="160px"></td>
  </tr>
    {% endfor %}
</table>
    </div>
</form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}
