{% extends 'admin/admin_homepage.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <link rel="stylesheet" href="static\page_templates\js\gmhpages.css">
</head>

<body>
<div class="container-one">
    <h2 class="Hh">Feedbacks</h2>
<form action="" method="get">
<div class="table-responsive">
<table width="70%" border="2" class="table table-bordered c">
  <tr class="headings" >
    <th scope="row">Slno</th>
    <td>Username</td>
    <td>Feedback</td>
     <td>Date</td>
  </tr>
    {% for i in data %}
  <tr>
    <th scope="row"><div align="center">{{forloop.counter}}</div> </th>
    <td>{{ i.USER.name }}</td>
    <td>{{ i.feedback }}</td>
      <td><div align="center">{{ i.date }}</div></td>
  </tr>
    {% endfor %}
</table>
</div>
</form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}