<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

</head>

<body>
<h1>USER HOME PAGE</h1>
<form action="" method="get"><table width="70%" border="2">

  <tr>
    <th scope="row">&nbsp;
          <a href="/view_user_profile">view_user_profile</a>
    </th>
  </tr>
     <tr>
    <th scope="row">&nbsp;
          <a href="/add_bank_account">add bank account</a>
    </th>
  </tr>
     <tr>
    <th scope="row">&nbsp;
          <a href="/view_ubank_details">view bank account</a>
    </th>
  </tr>

  <tr>
    <th scope="row">&nbsp;
             <a href="/view_workers_services">view_workers_services</a>
    </th>

  </tr>
 <tr>
    <th scope="row">&nbsp;
           <a href="/view_wrk_request_sts">view_wrk_request_sts</a>
    </th>

  </tr>
    <tr>
    <th scope="row">&nbsp;
         <a href="/prevoius_works">previous works</a>
    </th>

  </tr>

   </tr>
    <tr>
    <th scope="row">&nbsp;
        <a href="/snd_complaint">snd_complaint</a>
    </th>

  </tr>
   </tr>
    <tr>
    <th scope="row">&nbsp;
    <a href="/view_complaint_reply">view_complaint_reply</a>
    </th>

  </tr>
</table>

</form>
</body>
</html>