<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><h1>output</h1>
<h1>{{ data }}</h1>
{#<h1>{{ data.bank_name }}</h1>#}
{#<h1>{{ data.balance }}</h1>#}
{#<h1>{{ data.date }}</h1>#}
{#<h1>{{ data.status }}</h1>#}
{#<h1>{{ data.USER.name }}</h1>#}
{#{% for i in data %}#}
{#<h1>{{ i.bank_name }}</h1>#}
{#<h1>{{ i.balance }}</h1>#}
{#<h1>{{ i.accnt_no }}</h1>#}
{#<h1>{{ i.LOGIN.username }}</h1>#}
{#{% endfor %}#}
{#<h1>{{ new_amount.OWNSERVICES.WORKER.LOGIN_id }}</h1>#}
</body>
</html>