{% extends 'user/user_homepage.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <link rel="stylesheet" href="/static/page_templates/js/gmhpages.css">
</head>

<body>
<div class="container-one">
       <h2 class="Hh"> Profile</h2>
<form action="/edit_user_profile/{{ data.id }}#next"  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="table-responsive">
<table width="70%" border="2" class="table table-bordered c">
    <tr>
        <th scope="row" width="40%"><div align="center">Image:</div></th>
    <td><label for="textfield"></label>
        <img src="{{ data.image }}" height="160px" width="200px" ></td>
  </tr>
  <tr>
      <th scope="row"><div align="center">Name:</div></th>
    <td>
      <input type="text" name="name" style="width: 65%" class="form-control" id="textfield" value="{{ data.name }}" readonly/></td>
  </tr>
  <tr>
      <th scope="row"><div align="center">Place:</div></th>
    <td>
      <input type="text" name="place" style="width: 65%" class="form-control" id="textfield" value="{{ data.place }}" readonly/></td>
  </tr>
  <tr>
      <th scope="row"><div align="center">Pin:</div></th>
    <td>
      <input type="text" name="pin" class="form-control" style="width: 65%" id="textfield" value="{{ data.pin }}" readonly/></td>
  </tr>
  <tr>
      <th scope="row"><div align="center">Post</div></th>
    <td><label for="textfield"></label>
      <input type="text" name="post" class="form-control" id="textfield" style="width: 65%" value="{{ data.post }}" readonly/></td>
  </tr>
  <tr>
      <th scope="row"><div align="center">Email:</div></th>
    <td>
      <input type="text" name="email" class="form-control" style="width: 65%" id="textfield" value="{{ data.email }}" readonly/></td>
  </tr>
  <tr>
      <th scope="row"><div align="center">Phone:</div></th>
    <td>
      <input type="text" name="phone" class="form-control" style="width: 65%" id="textfield" value="{{ data.phone }}" readonly/></td>
  </tr>
  <tr>
      <th colspan="2" scope="row"><div align="center"> <input type="submit" name="button" class="submit-btn" id="button" value="Edit" /></div></th>
    </tr>
</table>
    </div>
</form>
</div>
</body>
</html>
{% endblock %}